.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logged-out {
  filter: grayscale(1);
}

.logged-in {
  filter: grayscale(0);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------------------------ */

code {
  background-color: darkgray;
}

.d-block {
  display: block;
}

.small {
  font-size: 80%;
}

.clickable {
  cursor: pointer;
}

/* ------------------------------------------ */


.instructions {
  list-style: none;
}
.instructions li {
  display: block;
  margin: 10px auto;
}

.input-group {
  display:block;
  margin: 5px auto;
}

.input-group label {
  font-size:50%;
  font-weight:bolder;
  margin-right: 5px;
}